################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WorkerService/.vs/WorkerService/v17
# Excluir pastas de build
**/bin/
**/obj/